body{
    background: red;
}
.test {
    // background: url('../images/1.jpg') no-repeat;
    width:466px;
    height:453px;
    border-radius: 4px;
    transition: 1s all;
    transform:rotate(30deg);
}